.modal-background {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #00000050;
  z-index: 11;
}

.section-modal {
  width: 45vh;
  height: 67vh;
  padding: 5vh;
  background: #fff;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.section-modal-title {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.position-logo-green {
  position: relative;
  background: transparent url('../img/position-logo-green@2x.png') center /
    contain no-repeat;
  left: 1vh;
  top: 0.5vh;
  width: 9vh;
  height: 10vh;
  z-index: 5;
  display: block;
}

.modal-close-button {
  width: 2vh;
  height: 2vh;
  border: 0;
  position: relative;
  background-color: transparent;
  display: flex;
  align-self: flex-end;
  right: 0;
}

.modal-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.modal-confirm-button {
  width: 12vh;
  height: 4vh;
  border: 0;
  border-radius: 1vh;
  color: #fff;
  font-weight: bold;
  background-color: #59f87e;
}

.modal-confirm-button:hover {
  opacity: 0.5;
}

.modal-submit-button {
  font-family: 'LexendDeca';
  width: 41vh;
  height: 6.2vh;
  border-radius: 3.1vh;
  border: 0;
  background-color: #59f87e;
}

.modal-submit-button:hover {
  opacity: 0.6;
}
