.input {
  font-family: 'LexendDeca';
  width: 38vh;
  padding-inline-start: 2vh;
  height: 6vh;
  border-radius: 3vh;
  border: 0;
  box-shadow: 0px 3px 6px #1c1c1c16;
}

.input:focus {
  outline: none;
}
