body {
  margin: 0 auto;
  background: transparent url('../img/background.png') center / cover no-repeat;
  height: 100vh;
}

.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-wrapper {
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
}

.circle-green {
  width: 57vh;
  height: 57vh;
  background: transparent url('../img/green-circle@2x.png') center / contain
    no-repeat;
  opacity: 1;
  display: block;
}

.circle-gray {
  margin-left: 46vh;
  width: 57vh;
  height: 57vh;
  background: transparent url('../img/gray-circle@2x.png') center / contain
    no-repeat;
  opacity: 1;
  margin-top: -57vh;
  display: block;
}

.position-logo {
  position: relative;
  background: transparent url('../img/position-logo@2x.png') center / contain
    no-repeat;
  width: 35vh;
  height: 35vh;
  top: 11vh;
  left: 11vh;
  z-index: 5;
  display: block;
}

.button-wrapper {
  position: relative;
  top: 8vh;
  left: 8vh;
  width: 41vh;
  height: 41vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.input-email {
  width: 38vh;
  padding-inline-start: 2vh;
  height: 6vh;
  border-radius: 3vh;
  border: 0;
}

.input-email:focus {
  outline: none;
}

.input-password {
  width: 38vh;
  padding-inline-start: 2vh;
  height: 6vh;
  border-radius: 3vh;
  border: 0;
}

.input-password:focus {
  outline: none;
}

.button-login {
  width: 41vh;
  height: 6.2vh;
  border-radius: 3.1vh;
  border: 0;
  background-color: #000000;
}

.button-login:hover {
  opacity: 0.6;
}

.button-signin {
  width: 41vh;
  height: 6.2vh;
  border-radius: 3.1vh;
  border: 0;
  background-color: #52f25d;
}

.button-signin:hover {
  opacity: 0.6;
}

.a-password {
  height: 1vh;
  position: relative;
  top: -2vh;
  text-decoration: none;
  align-self: center;
  color: #000000;
}
