body {
  margin: 0 auto;
  height: 100vh;
}

.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: transparent url('../img/background@2x.png') center / cover
    no-repeat;
}

.circle-wrapper {
  justify-self: center;
  align-self: center;
  justify-items: center;
  align-items: center;
}

.circle-green {
  width: 57vh;
  height: 57vh;
  background: transparent url('../img/green-circle@2x.png') center / contain
    no-repeat;
  opacity: 1;
  display: block;
}

.circle-gray {
  margin-left: 46vh;
  width: 57vh;
  height: 57vh;
  background: transparent url('../img/gray-circle@2x.png') center / contain
    no-repeat;
  opacity: 1;
  margin-top: -57vh;
  display: block;
}

.position-logo {
  position: relative;
  background: transparent url('../img/position-logo@2x.png') center / contain
    no-repeat;
  width: 35vh;
  height: 35vh;
  top: 11vh;
  left: 11vh;
  z-index: 5;
  display: block;
}

.button-wrapper {
  position: relative;
  top: 8vh;
  left: 8vh;
  width: 41vh;
  height: 41vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.button-login {
  font-family: 'LexendDeca';
  width: 41vh;
  height: 6.2vh;
  border-radius: 3.1vh;
  border: 0;
  background-color: #000000;
}

.button-login:hover {
  opacity: 0.6;
  cursor: pointer;
}

.button-signup {
  font-family: 'LexendDeca';
  width: 41vh;
  height: 6.2vh;
  border-radius: 3.1vh;
  border: 0;
  background-color: #59f87e;
}

.button-signup:hover {
  opacity: 0.6;
  cursor: pointer;
}

.a-password {
  font-family: 'NotoSans-DemiLight';
  height: 1vh;
  position: relative;
  top: -2vh;
  text-decoration: none;
  align-self: center;
  color: #000000;
}

.a-password:hover {
  cursor: pointer;
}

.a-password p {
  position: relative;
  top: 1vh;
}

.a-password p:hover{
  cursor: pointer;
  border-bottom: solid 1px #000000;
}