.page-main {
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section-todolist-calender {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  top: 12vh;
  width: 100vw;
  height: 88vh;
  background-color: transparent;
}
